h2 {
  text-align: center;
  margin: 3rem 0;
}

.contact {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  @include flex(row, center, space-evenly);
  flex-wrap: wrap;
  a {
    font-size: $header4;
  }
  a:hover {
    text-decoration: underline;
  }
}

.icons,
.form {
  flex: 1 1 20rem;
}

.phone,
.email {
  margin: 4rem 5rem;
  @include flex(row, flex-start, flex-start);
}

.call-img,
.email-img {
  margin: 0.6rem 5rem 0 0;
}

.form {
  input,
  textarea {
    margin: 1rem;
    padding: 1rem 2rem;
    border-style: none;
    background-color: rgba(147, 107, 232, 0.05);
    border-radius: 0.9rem;
    color: $gray-text;
    font-family: "Montserrat", sans-serif;

    &:focus {
      border: 1px solid black;
      outline-style: none;
    }
  }
  textarea {
    font-size: $header4;
    display: block;
  }
  input {
    width: 32rem;
    font-size: $header4;
  }

  button {
    font-size: $header4;
    margin: 1.5rem;
    padding: 1.5rem 5rem;
    border: none;
    border-style: none;
    border-radius: 0.9rem;
    cursor: pointer;
    color: white;
    font-family: "Montserrat", sans-serif;
    background-color: $background-color;
  }
}
